Argoid Analytics Private Limited

In [41]:
#Importing the Libraries 
import pandas as pd
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [0]:
#Reading the Dataset 
data = pd.read_csv('/content/drive/My Drive/transaction_data.csv')

In [58]:
#First Five Row of Dataset
data.head()

   UserId  TransactionId  ... CostPerItem         Country
0  278166        6355745  ...       11.73  United Kingdom
1  337701        6283376  ...        3.52  United Kingdom
2  267099        6385599  ...        0.90          France
3  380478        6044973  ...        1.73  United Kingdom
4      -1        6143225  ...        3.40  United Kingdom

[5 rows x 8 columns]

In [15]:
#Rows and Columns
data.shape

(1083818, 8)

In [18]:
#Searching for Missing Data
data.isna().sum()

UserId                       0
TransactionId                0
TransactionTime              0
ItemCode                     0
ItemDescription           2908
NumberOfItemsPurchased       0
CostPerItem                  0
Country                      0
dtype: int64

In [40]:
#Deleting the rows having Missing Item Description
data.dropna(inplace=True)
data.isna().sum()

UserId                    0
TransactionId             0
TransactionTime           0
ItemCode                  0
ItemDescription           0
NumberOfItemsPurchased    0
CostPerItem               0
Country                   0
dtype: int64

In [56]:
data.loc[data['UserId'] == -1]

array([6355745, 6283376, 6385599, ..., 6231192, 5995748, 5918825])